<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>950293711697-7vml3kh3iuspk7ramva8um11j6gtnvtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950293711697-7vml3kh3iuspk7ramva8um11j6gtnvtt</string>
	<key>API_KEY</key>
	<string>AIzaSyCWGDj87Tt019JbKtOELkJ56pPMSe4JNbY</string>
	<key>GCM_SENDER_ID</key>
	<string>950293711697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NV.PhotoMap-Objective-c-</string>
	<key>PROJECT_ID</key>
	<string>photomapobjective-c</string>
	<key>STORAGE_BUCKET</key>
	<string>photomapobjective-c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:950293711697:ios:2f11e3631b7443db</string>
	<key>DATABASE_URL</key>
	<string>https://photomapobjective-c.firebaseio.com</string>
</dict>
</plist>